/*Luke Staib @2021*/
body {
  background-color: #B7F7FF;
}

.bigText {
	text-align: center;
	margin-bottom: 10px;
	line-height: 100px;
	color: #2EB9CC;
	font-size: 72px;
}

.smallText {
	color: #05006B;
	font-size: 24px;
	line-height: 50px;
}

.button {
	display: inline-block;
}

a {
	background-color: #FFFBCB;
	border: 1px solid black;
	color: #000000;
	font-size: 24px;
	font-family: Arial;
	padding: 5px;
	text-decoration: none;
}
