/*Luke Staib @2021*/
body {
  background-color: #B7F7FF;
}

.bigText {
	text-align: center;
	margin-bottom: 10px;
	line-height: 100px;
	color: #2EB9CC;
	font-size: 72px;
}

.smallText {
	color: #05006B;
	font-size: 24px;
	line-height: 50px;
}

.errorText {
	color: #C90000;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
}

.button {
	display: inline-block;
}

.file {
	color: #000b47;
	font-family: Courier;
	font-size: 20px;
	line-height: 50px;
	margin-left: 20px;
}

.searchResults {
	color: #000b47;
	font-family: Courier;
	font-size: 14px;
}

.searchElement {
	border-bottom: 1px solid blue;
}

a {
	background-color: #FFFBCB;
	border: 1px solid black;
	color: #000000;
	cursor: pointer;
	font-size: 24px;
	font-family: Arial;
	padding: 5px;
	text-decoration: none;
}

table {
  font-family: Courier;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #bde8ff;
}

tr:nth-child(even) {
  background-color: #ccdfff;
}
