<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>News Analyzer - Analysis</title>
	</head>
	<script>
		function analyzeText(num) {
			window.location = "/files/" + num + "/analyze";
		}
	</script>
	<body>
		<div class="bigText">Text Analysis</div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
				<div class="smallText">
					{{message}}
				</div>
			{% endfor %}
		  {% endif %}
		{% endwith %}
		{% if session['files_data'] %}
			<div class="smallText">Select which file you would like to analyze:</div>
			{% for file in session['files_data'] %}
				<a class="file" onclick="analyzeText({{ file[0] }})">{{ loop.index }}. {{ file[1] }}</a>
				<br>
			{% endfor %}
		{% else %}
			<div class="smallText">No files for user {{session['username']}}</div>
		{% endif %}
		</div>
		<br><br>
		<div class="button">
			<a href="/homepage">Return to Home</a>
		</div>	
	</body>
</html>