<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>Files of {{ session['username'] }} - News Analyzer</title>
		<script>
			window.onload=function() {
				document.getElementById("load_files").click();
			}	
			function loadFiles() {
				var uid = {{ session['uid'] }};
				window.location = "/ufiles/" + uid + "/fileview";
			}
			function editFile(num) {
				window.location = "/files/" + num + "/edit";
			}
			function deleteFile(num) {
				window.location = "/files/" + num + "/delete";
			}
		</script>
	</head>
	<body>
		<div class="bigText">Files of user {{session['username']}}</div>
		{% if session['files_data'] %}
			<table>
				<tr>
					<th>Number</th>
					<th>Name</th>
					<th>Author/s</th>
					<th>Upload Date</th>
					<th>Creation Date</th>
					<th>Status</th>
					<th>1st 5 Keywords</th>
					<th>Categories</th>
					<th>Sentiment</th>
					<th>Options</th>
				</tr>
				{% for file in session['files_data'] %}
					<tr>
						<td>{{loop.index}}</td>
						<td type="text" id="file{{session['files_data'][loop.index - 1][0]}}">{{ session['files_data'][loop.index - 1][1] }}</td>
						<td>{{ session['files_data'][loop.index - 1][2] }}</td>
						<td>{{ session['files_data'][loop.index - 1][3] }}</td>
						<td>{{ session['files_data'][loop.index - 1][4] }}</td>
						<td>{{ session['files_data'][loop.index - 1][5] }}</td>
						<td>{{ session['files_data'][loop.index - 1][6] }}</td>
						<td>{{ session['files_data'][loop.index - 1][7] }}</td>
						<td>{{ session['files_data'][loop.index - 1][8] }}</td>
						<td><a onclick="editFile({{session['files_data'][loop.index - 1][0]}})">Edit</a>&nbsp;<a onclick="deleteFile({{session['files_data'][loop.index - 1][0]}})">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<div class="smallText">No files for user {{session['username']}}</div>
		{% endif %}
		<br><br>
		<div class="button">
			<a href="/homepage">Return to Home</a>
		</div>
		{% if session['load_lock'] != True %}
			<a style="display: none" id="load_files" onclick="loadFiles()"></a>
		{% endif %}	
	</body>
</html>