<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>Files of {{ session['username'] }} - News Analyzer</title>
		<script>
			window.onload=function() {
				document.getElementById("load_files").click();
			}	
			function loadFiles() {
				var uid = {{ session['uid'] }};
				window.location = "/ufiles/" + uid + "/fileview";
			}
		</script>
	</head>
	<body>
		<div class="bigText">Files of user {{session['username']}}</div>
		<table>
			<tr>
				<th>Number</th>
				<th>Name</th>
				<th>Sentiment</th>
				<th>Status</th>
			</tr>
			{% for file in session['filenames'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{ file }}</td>
					<td>{{ session['files_sentiment'][loop.index - 1] }}</td>
					<td>{{ session['files_status'][loop.index - 1] }}</td>
				</tr>
			{% endfor %}
		</table>	
		<br><br>
		<div class="button">
			<a href="/homepage">Return to Home</a>
		</div>
		{% if session['load_lock'] != True %}
			<a style="display: none" id="load_files" onclick="loadFiles()"></a>
		{% endif %}	
	</body>
</html>