<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>Files of {{ session['username'] }} - News Analyzer</title>
		<script>
			function userURL() {
				var uid = {{ session['uid'] }};
				window.location = "/ufiles/" + uid;
			}
		</script>
	</head>
	<body>
		<div class="bigText">Files of user {{session['username']}}</div>
		<table>
			<tr>
				<th>Number</th>
				<th>Name</th>
			</tr>
			{% for file in session['files'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{ file }}</td>
				</tr>
			{% endfor %}
		</table>	
		<br><br>
		<div class="button">
			<a href="/homepage">Return to Home</a>
		</div>
	</body>
</html>