<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>Home - News Analyzer</title>
		<script>
			window.onload=function() {
				//alert("{{session['load_lock']}}");
				document.getElementById("load_files").click();
			}	
			function loadFiles() {
				var uid = {{ session['uid'] }};
				window.location = "/ufiles/" + uid + "/homepage";
				//alert("/ufiles/" + uid + "/homepage");
			}
		</script>
	</head>
	<body>
		<div class="bigText">Home</div>
		<div class="smallText">
			Welcome, {{session['firstname']}} {{session['lastname']}}
		</div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
				<div class="smallText">
					{{message}}
				</div>
			{% endfor %}
		  {% endif %}
		{% endwith %}
		<br>
		<div class="button">
			<a href="/upload">Upload a file</a>
			<br><br>
			<a href="/fileview">View your files</a>
			<br><br>
			<a href="/analyzer">Analyze uploaded files</a>
			<br><br>
			<a href="/newsfeed">Search for articles</a>
			<br><br>
			<a onclick="loadFiles()">Files not displaying? Reload files!</a>
			<br><br>
			<a href="/">Logout</a>
			{% if session['load_lock'] == False %}
				<a style="display: none" id="load_files" onclick="loadFiles()"></a>
			{% endif %}	
		</div>	
	</body>
</html>