<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>News Analyzer</title>
	</head>
	<body>
		<div class="bigText">News Analyzer</div>
		<div class="smallText">Welcome!</div>
		<div class="button">
			<!--
			<a href="/users" target="_blank">View users</a>
			<br><br>
			<a href="/files" target="_blank">View files</a>
			<br><br>
			-->
			<a href="/signup">Sign Up</a>
			<br><br>
			<a href="/login">Log In</a>
		</div>	
	</body>
</html>