<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>Home - News Analyzer</title>
		<script>
			document.getElementById("load_files").click();
			function loadFiles() {
				var uid = {{ session['uid'] }};
				window.location = "/ufiles/" + uid;
			}
		</script>
	</head>
	<body>
		<div class="bigText">Home</div>
		<div class="smallText">
			Welcome, {{session['firstname']}} {{session['lastname']}}
		</div>	
		<br>
		<div class="button">
			<a href="/upload" target="_blank">Upload a file</a>
			<br><br>
			<a href="/fileview" target="_blank">View your files</a>
			<br><br>
			<a href="/analyzer" target="_blank">Analyze uploaded files</a>
			{% if session['file_check'] != True %}
				<a style="display: none" id="load_files" onclick="loadFiles()"></a>
			{% endif %}	
		</div>	
	</body>
</html>