<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>Newsfeed Ingest - News Analyzer</title>
		<script>
			function search_nyt() {
				document.getElementById("results").innerHTML = "" //Clear with every search
				var query = String(document.getElementById("search_query").value);
				query = query.replace(/[!#$%^&*()\/\\.,:?+-=_~`'"<>{}]/g,'_'); //Get rid of all special chars
				if (query) {
					window.location = "/search/" + query;
				}	
				else {
					document.getElementById("search_query").value = "";
				}
			}

			function read_later(url) {
				var uid = {{ session['uid'] }};
				if (uid !== -1) {
					if (url) {
						url = encodeURIComponent(url.trim()) //Encode url to use in REST api (app.py)
						url = url.replaceAll("%2F", "%252F") //Prevent / from causing problems
						url = url.replaceAll("%5C", "%255C") //Prevent \ from causing problems
						window.location = "/savelink/" + uid + "/" + url;
					}
				}	
			}
		</script>
	</head>
	<body>
		<div class="bigText">Newsfeed Ingest
			<a href="/homepage">Return to Home</a>
		</div>
		<div style="text-align: center;">
			<input type="text" style="width: 300px; margin-right: 20px;" id="search_query">
			<a onclick="search_nyt()">Search for Articles</a>
		</div>	
		<br><br>
		<div id="results">
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
				{% for m in message %}
					{% if loop.index == 1 %}
						{% for article in m %}
							{% if article %}
								<div class="searchResults">
									<div class="searchElement">
										<br><br>
										{{article}}
										<br><br>
										{{message[2][loop.index - 1]}}
										<br><br>
										<a href="{{message[1][loop.index - 1]}}" target="_blank">Link</a>
										<a onclick='read_later("{{message[1][loop.index - 1]}}")'>Read Later</a>
										<br><br>
									</div>	
								</div>
							{% endif %}	
						{% endfor %}
					{% endif %}	
				{% endfor %}
			{% endfor %}
		  {% endif %}
		{% endwith %}
		</div>
	</body>
</html>