<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>News Analyzer - Reset Password</title>
	</head>
	<body>
		<div class="bigText">Reset Password</div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			{% for message in messages %}
				{% if message == "Passwords do not match."%}
				<div class="errorText">
					{{message}}
			  	</div>
			  	{% elif message == "User does not exist. Please create an account."%}
				<div class="errorText">
					{{message}}
			  	</div>
			  	{% elif message == "Passwords must be between 8-256 characters."%}
				<div class="errorText">
					{{message}}
			  	</div>
			  	{% elif message == "Password successfully reset."%}
				<div class="smallText">
					{{message}}
			  	</div>
			  	{% endif %}
			{% endfor %}
		  {% endif %}
		{% endwith %}
		<form action="/users/resetpass" style="text-align: center" method="post">
			<div class="smallText">Username</div>
			<input type="text" name="reset_username" required>
			<div class="smallText">New Password (8-256 characters)</div>
			<input type="password" name="reset_password1" required>
			<div class="smallText">Confirm New Password</div>
			<input type="password" name="reset_password2" required>
			<br><br>
			<input type="submit" value="Reset Password">
			<br><br>
			<a href="/login">Return to Login</a>
		</div>	
		</form>
	</body>
</html>