<!-- Luke Staib @2021 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<title>News Analyzer - Sign Up</title>
	</head>
	<body>
		<div class="bigText">Sign Up</div>
		<form action="/users" style="text-align: center" method="post">
			<div class="smallText">Username</div>
			<input type="text" name="create_username" required>
			<div class="smallText">Password</div>
			<input type="password" name="create_password" required>
			<div class="smallText">First Name</div>
			<input type="text" name="create_firstname" required>
			<div class="smallText">Last Name</div>
			<input type="text" name="create_lastname" required>
			<br><br>
			<input type="submit" value="Create Account">
		</form>
	</body>
</html>